.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/0/60de5c79422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/19/80794dee442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/1e/70e74cbb422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/2/80cae381422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/2/7090cddc422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/24/a05dc045442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/28/30b60c52442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/3/009e8ab9422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/3/809dbd81452b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/53/e09ced83452b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/56/c0555bf1442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/74/50913719432b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/7f/00d1bb16452b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/81/20207b4d442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/84/70beacfc422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/8c/80f96ede442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/8f/802aa99d422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/96/60c44716432b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/99/e0f62a30432b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/9d/e099bc7e422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/a7/50b1876c432b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/a7/d0fb4ae4422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/b1/90c1dda1442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/ba/20bd1148432b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/c5/80451bdc442b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/c7/e0b7688e452b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/db/60ba5cf7422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/db/f05ad4e5422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/de/708feab1422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.history/df/70f8faa1422b001f1b05a426a1fc2f13
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/desafio-poo-iphone/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/desafio-poo-iphone/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.views.log.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Autodromo.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ComputadorPedrinho.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Escola.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Estabelecimento.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/SistemaCadastro.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/806729469.index
.metadata/.plugins/org.eclipse.jdt.core/827285296.index
.metadata/.plugins/org.eclipse.jdt.core/927317437.index
.metadata/.plugins/org.eclipse.jdt.core/984405575.index
.metadata/.plugins/org.eclipse.jdt.core/1445374004.index
.metadata/.plugins/org.eclipse.jdt.core/1518221326.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/1908088220.index
.metadata/.plugins/org.eclipse.jdt.core/2080836772.index
.metadata/.plugins/org.eclipse.jdt.core/2295034082.index
.metadata/.plugins/org.eclipse.jdt.core/2301764121.index
.metadata/.plugins/org.eclipse.jdt.core/2448552664.index
.metadata/.plugins/org.eclipse.jdt.core/2547714410.index
.metadata/.plugins/org.eclipse.jdt.core/2735735323.index
.metadata/.plugins/org.eclipse.jdt.core/3010998462.index
.metadata/.plugins/org.eclipse.jdt.core/3041421212.index
.metadata/.plugins/org.eclipse.jdt.core/3391684313.index
.metadata/.plugins/org.eclipse.jdt.core/3847921726.index
.metadata/.plugins/org.eclipse.jdt.core/4132140216.index
.metadata/.plugins/org.eclipse.jdt.core/4220280190.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2024/6/24/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2024/6/24/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/exemplos-pacote/2024/6/24/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/exemplos-pacote/2024/6/24/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/exemplos-pacotes/2024/6/24/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/exemplos-pacotes/2024/6/24/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.team.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.team.ui/syncParticipants.xml
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
desafio-poo-iphone/.classpath
desafio-poo-iphone/.project
desafio-poo-iphone/.settings/org.eclipse.core.resources.prefs
desafio-poo-iphone/.settings/org.eclipse.jdt.core.prefs
